.container{
   display: flex;
   align-items: center;  /*  align the items vertically */
   flex-direction: column;
   background-color:grey;
   width:900px;
   min-height: 200px;
   max-height: 500px;

   overflow-y: scroll;

}
.outer-box{
   display:flex;
   /* align-items: center;  */
   justify-content: center; 
}
.list{
   font-weight: 700;
   font-size: 25px;
   color:rgb(4, 44, 44);
   margin:20px;
}
.input{
   height:30px;
   width:400px;
   
}
.button{
height:36px;
   width:90px;
   color:rgb(4, 44, 44);
   font-weight:600;
}
.rowdata{
   display:flex;
   flex-direction:row;
   background-color:lightgray;
   height:32px;
   width:400px;
   margin-top: 20px;
}
.Delete{
   height:32px;
   width:90px;
   color:red;
   font-weight:600;

}
.DeleteAll{
   margin-top: 20px;
   height:32px;
   width:90px;
   color:blue;
   font-weight:600;

}
.listdata{
   color:blue;
   height:30px;
   width:400px;
}